.content {
  color: whitesmoke;
  background-image: radial-gradient(#0F509C, #0d478c) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin: 0px !important;
}

.company-logo {
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
  bottom: 20px;
}

.footer {
  padding: 30px 0px !important;
  margin: 0 !important;
  height: 30%;
}