.content {
  color: whitesmoke;
  background: radial-gradient(#0f509ca6, #0d478c), url('/custom-content/home-background.jpg') no-repeat !important;
  display: flex;
  background-size: cover !important;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin: 0px !important;
}

.company-logo {
  position: absolute !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
  bottom: 20px;
}

.footer {
  padding: 30px 0px !important;
  margin: 0 !important;
  height: 30%;
}